header{
    text-align: center;
    background-color: black;
    color: antiquewhite;
}
.iphone{
    width: 400px;  
}
.text{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
main{
    text-align: center;
    align-items: center;
    background-color: grey;
}
button{
    width: 100px;
    height: 50px;
}