body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "lateral meio meio"
    "pe pe pe";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

header{
    grid-area: cabeca;
    background-color: black;
    text-align: center;
    color: white;
}

aside{
    grid-area: lateral;
    background-color: aliceblue;
}

main{
    grid-area: meio;
    background-color: gray  ;
}

footer{
    grid-area: pe;
    background-color:black;
    text-align: center;
    color: white;
}
@media  screen  and (max-width: 800px){
    body{
        grid-template-areas: 
        "cabeca"
        "lateral"
        "meio"
        "pe";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    
}
.rog{
    width: 300px;
}
.poco{
    width: 300px;
}
.s23{
    width: 400px;
}
.logo{
    width: 400px;
}
.Iphone{
    width: 300px;
}
.S20{
    width: 400px;
}
.note12{    
    width: 400px;
}
.Indução{
    width: 350px;
}
.carregador{
    width: 300px;
}
.cabo{
    width: 300px;
}
.capinha{
    width: 350px;
}
.iphone7{
    width: 250px;
}
.celular{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.celulares{
    border-radius: 30px;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: white;
    transition: 0,5s;
}
.celular a{
    background-color: white;
    border-radius: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
}